@font-face {
  font-family: ppmori;
  src: url("https://ik.imagekit.io/udeluwj7a/Portfolio%20Assets/Fonts/ppmori.ttf");
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: ppmori;
}

html {
  scroll-padding-top: 12vh;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #111;
  overflow-x: hidden;
  overflow-y: auto;
}
body::-moz-selection {
  background-color: #fff;
  color: #95c11e;
}
body::selection {
  background-color: #fff;
  color: #95c11e;
}
body::-webkit-scrollbar {
  display: none;
}
@media (min-width: 768px) {
  body body::-webkit-scrollbar {
    display: block;
    width: 6px;
    background-color: #95c11e;
  }
  body body::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 50px;
  }
}

.main {
  width: 100%;
  position: relative;
  padding: 1rem;
}
@media (min-width: 1024px) {
  .main {
    padding: 1rem 0;
  }
}

#cursor {
  display: none;
}
@media (min-width: 1024px) {
  #cursor {
    display: block;
    height: 20px;
    width: 20px;
    background-color: #95c11e;
    border-radius: 50%;
    position: fixed;
    transition: transform 0.1s ease-out;
    z-index: 99;
    pointer-events: none;
  }
}

#cursor-blur {
  display: none;
}
@media (min-width: 1024px) {
  #cursor-blur {
    display: block;
    height: 400px;
    width: 400px;
    background-color: rgba(182, 233, 40, 0.2196078431);
    border-radius: 50%;
    position: fixed;
    filter: blur(100px);
    transition: transform 0.3s ease-out;
    z-index: 13;
    pointer-events: none;
  }
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7vh;
  padding: 3vw 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  border-bottom: 1px solid rgba(92, 90, 90, 0.493);
  z-index: 12;
}
nav h2 {
  padding: 10px 0;
  font-size: clamp(1rem, 2vw, 2.5rem);
  font-weight: 900;
  height: -moz-fit-content;
  height: fit-content;
  margin-right: 3vw;
}
@media (min-width: 1024px) {
  nav {
    height: 12vh;
    padding: 2rem 2rem;
  }
  nav h2 {
    margin-right: 0;
  }
}

.nav-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vw;
}
.nav-buttons a {
  text-decoration: none;
  color: #fff;
  font-size: 3vw;
  font-weight: 100;
}
@media (min-width: 768px) {
  .nav-buttons {
    gap: 20px;
  }
  .nav-buttons a {
    font-size: 2vw;
    font-weight: 400;
  }
}
@media (min-width: 1024px) {
  .nav-buttons {
    gap: 30px;
  }
  .nav-buttons a {
    font-size: 1.2vmax;
    font-weight: 600;
  }
}

.left-nav {
  display: none;
}
@media (min-width: 1024px) {
  .left-nav {
    width: 2.5vmax;
    height: 2.5vmax;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgb(54, 54, 54);
  }
}

.page1 {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 20vw;
}
@media (min-width: 1024px) {
  .page1 {
    padding-bottom: 0;
  }
}
.page1-p1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  justify-content: space-between;
  padding-top: 20vw;
}
@media (min-width: 1024px) {
  .page1-p1 {
    flex-direction: row;
    height: 60vh;
    padding-top: 0;
  }
}
.page1-p2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2%;
  justify-content: space-between;
}
@media (min-width: 1024px) {
  .page1-p2 {
    flex-direction: row;
  }
}
.page1-p2 h5 {
  display: none;
}
@media (min-width: 1024px) {
  .page1-p2 h5 {
    display: block;
    color: #95c11e;
    font-size: 2vw;
    font-weight: 500;
  }
}

.heading h1 {
  color: #fff;
  margin-top: 6vw;
  font-size: 15vw;
  margin-left: 6vw;
  opacity: 0.8;
  text-transform: uppercase;
  position: relative;
}
.heading h1::before {
  content: "SOFTWARE";
  position: absolute;
  top: -4px;
  left: -4px;
  z-index: -1;
  -webkit-text-stroke: 1.5px #95c11e;
  color: #000;
}
@media (min-width: 1024px) {
  .heading h1 {
    font-size: 7vw;
  }
}
.heading h2 {
  background-color: #fff;
  color: #95c11e;
  font-size: 15vw;
  text-transform: uppercase;
  margin-top: 5vw;
  margin-left: 12vw;
  width: -moz-fit-content;
  width: fit-content;
  opacity: 0.8;
  position: relative;
}
@media (min-width: 1024px) {
  .heading h2 {
    font-size: 7vw;
    margin-top: 0;
    margin-left: 25vw;
    width: auto;
  }
}
.heading h3 {
  display: block;
  margin-top: 10vw;
  align-self: center;
  text-align: center;
  font-size: 4vw;
  font-weight: 100;
}
@media (min-width: 1024px) {
  .heading h3 {
    display: none;
  }
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 100%;
  left: calc(50vw - 68px);
  margin-top: 15%;
  align-self: center;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #3c1a64;
  padding: 12px 30px;
  border-radius: 10px;
}
@media (min-width: 1024px) {
  .social-links {
    flex-direction: column;
    right: 0;
    left: auto;
    top: 60%;
    margin-top: 0;
    padding: 20px 12px;
    border-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}
.social-links i {
  font-size: 2.5vmax;
  cursor: pointer;
}

.left-pg1-p2 {
  height: 30vh;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1% 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-pg1-p2 a {
  font-size: 4vw;
  border-bottom: 1px solid #95c11e;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}
.left-pg1-p2 a:hover i {
  scale: 1.2;
}
@media (min-width: 1024px) {
  .left-pg1-p2 a {
    font-size: 1vmax;
  }
}
.left-pg1-p2 i {
  font-size: clamp(1rem, 1.2vw, 1.2rem);
  transition: all ease 0.3s;
}
@media (min-width: 1024px) {
  .left-pg1-p2 {
    height: 20%;
  }
}

.right-pg1-p2 {
  display: flex;
  height: 10vmax;
  width: 10vmax;
  padding: 1% 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 20%;
}
.right-pg1-p2::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: #a077ec;
  filter: blur(50px);
  z-index: 0;
}
.right-pg1-p2 img {
  height: 10vmax;
  position: relative;
  z-index: 1;
}
@media (min-width: 1024px) {
  .right-pg1-p2 {
    margin-bottom: 0;
  }
  .right-pg1-p2::before {
    filter: blur(80px);
  }
}

.blur-section {
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  border-radius: 15px;
  padding: 30px 3%;
  margin: 30px auto;
  max-width: 90%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
}
@media (min-width: 1024px) {
  .blur-section {
    padding: 50px 5%;
    margin: 50px auto;
    max-width: 85%;
  }
}

.about {
  background-color: rgba(255, 255, 255, 0.158);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2vw;
}
.about h2 {
  margin-bottom: 2vw;
  border-bottom: 2px solid black;
  border-radius: 10px;
  padding: 0 1.5vw;
}
.about p {
  align-self: center;
  text-align: justify;
  padding: 0 2vw;
  line-height: 5vw;
  font-size: 3.2vw;
}
@media (min-width: 768px) {
  .about p {
    font-size: 2vw;
    line-height: 3.5vw;
    padding: 0 5vw;
  }
}
@media (min-width: 1024px) {
  .about p {
    font-size: 1.2vw;
    line-height: 2vw;
    padding: 0 8vw;
  }
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .button-container {
    flex-direction: row;
    justify-content: center;
  }
}

.btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #6441a5;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}
.btn:hover {
  background: #472d7b;
}
.btn img {
  width: 24px;
  height: 24px;
  -webkit-user-drag: none;
}

.projects-container {
  overflow-x: auto;
  padding: 1rem;
  scrollbar-width: none;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  height: 30rem;
}
@media (min-width: 1024px) {
  .projects-container {
    padding: 2rem;
    height: auto;
  }
}

.projects-wrapper {
  display: flex;
  gap: 5%;
  cursor: grab;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  width: -moz-max-content;
  width: max-content;
  padding-bottom: 1rem;
}
.projects-wrapper::-webkit-scrollbar {
  display: none;
}
.projects-wrapper:active {
  cursor: grabbing;
}
@media (min-width: 1024px) {
  .projects-wrapper {
    gap: 2%;
  }
}

.project {
  width: 50%;
  min-width: 250px;
  height: 80%;
  flex-shrink: 0;
  background: rgba(255, 255, 255, 0.9);
  padding: 2%;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  color: rgb(129, 47, 184);
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1024px) {
  .project {
    width: 40%;
    height: 30vw;
  }
}

.project-img {
  margin-top: 2rem;
  width: auto;
  height: 100%;
  max-height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  -webkit-user-drag: none;
}
@media (min-width: 1024px) {
  .project-img {
    margin-top: 0;
    width: 100%;
    height: auto;
    max-width: 90%;
    max-height: none;
  }
}

.project-text {
  width: 90%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.project-text h3 {
  font-size: 4vw;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .project-text h3 {
    font-size: 2.5vw;
  }
}
@media (min-width: 1024px) {
  .project-text h3 {
    font-size: 1.3vw;
  }
}
.project-text p {
  font-size: 3vw;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: justify;
}
@media (min-width: 768px) {
  .project-text p {
    font-size: 2vw;
  }
}
@media (min-width: 1024px) {
  .project-text p {
    font-size: 1vw;
  }
}
.project-text img {
  margin-left: 0.8rem;
  width: 1.2rem;
  -webkit-user-drag: none;
}
@media (min-width: 1024px) {
  .project-text img {
    width: 2.5rem;
  }
}
@media (min-width: 1024px) {
  .project-text {
    width: 100%;
    flex: none;
    margin-top: 12%;
    height: auto;
  }
}

.pHeading,
.pDesc {
  color: rgba(17, 17, 17, 0.8705882353);
}

.certs-container {
  overflow: hidden;
  padding: 20px;
}

.certs-wrapper {
  display: flex;
  white-space: nowrap;
  transition: transform 0.5s ease;
}

.cert {
  width: 80%;
  height: 18em;
  flex-shrink: 0;
  background: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
}
@media (min-width: 1024px) {
  .cert {
    width: 30%;
    margin-right: 15px;
  }
}

#contact {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(8px);
  border-radius: 15px;
  color: #fff;
  padding: 20px;
  text-align: center;
}
#contact form {
  max-width: 500px;
  margin: auto;
}
#contact input,
#contact textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 10px;
}
#contact button {
  background: #fff;
  color: #4b0082;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
#contact button:hover {
  background: #ddd;
}/*# sourceMappingURL=stylesheet.css.map */