@font-face {
  font-family: ppmori;
  src: url("https://ik.imagekit.io/udeluwj7a/Portfolio%20Assets/Fonts/ppmori.ttf");
}

// Variables
$primary: #95c11e;
$bg-dark: #111;
$black: #000;
$purple-dark: #3c1a64;
$purple-mid: #6441a5;
$purple-light: #a077ec;
$purple-hover: #472d7b;
$white: #fff;
$text-muted: rgba(92, 90, 90, 0.493);

// Breakpoints
$tablet: 768px;
$desktop: 1024px;

// Mixins
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin blur-box($bg: rgba(255, 255, 255, 0.2)) {
  background: $bg;
  backdrop-filter: blur(8px);
  border-radius: 15px;
}

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: $white;
  font-family: ppmori;
}

html {
  scroll-padding-top: 12vh;
}
html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: $bg-dark;
  overflow-x: hidden;
  overflow-y: auto;

  &::selection {
    background-color: $white;
    color: $primary;
  }

  &::-webkit-scrollbar {
    display: none;
  }
  @include tablet {
    body::-webkit-scrollbar {
      display: block;
      width: 6px;
      background-color: $primary;
    }
    body::-webkit-scrollbar-thumb {
      background-color: $white;
      border-radius: 50px;
    }
  }
}

.main {
  width: 100%;
  position: relative;

  padding: 1rem;
  @include desktop {
    padding: 1rem 0;
  }
}

#cursor {
  display: none;

  @include desktop {
    display: block;
    height: 20px;
    width: 20px;
    background-color: $primary;
    border-radius: 50%;
    position: fixed;
    transition: transform 0.1s ease-out;
    z-index: 99;
    pointer-events: none;
  }
}

#cursor-blur {
  display: none;

  @include desktop {
    display: block;
    height: 400px;
    width: 400px;
    background-color: #b6e92838;
    border-radius: 50%;
    position: fixed;
    filter: blur(100px);
    transition: transform 0.3s ease-out;
    z-index: 13;
    pointer-events: none;
  }
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7vh;
  padding: 3vw 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $black;
  border-bottom: 1px solid $text-muted;
  z-index: 12;

  h2 {
    padding: 10px 0;
    font-size: clamp(1rem, 2vw, 2.5rem);
    font-weight: 900;
    height: fit-content;
    margin-right: 3vw;
  }

  @include desktop {
    height: 12vh;
    padding: 2rem 2rem;

    h2 {
      margin-right: 0;
    }
  }
}

.nav-buttons {
  @include flex-center;
  gap: 3vw;

  a {
    text-decoration: none;
    color: $white;
    font-size: 3vw;
    font-weight: 100;
  }

  @include tablet {
    gap: 20px;

    a {
      font-size: 2vw;
      font-weight: 400;
    }
  }

  @include desktop {
    gap: 30px;

    a {
      font-size: 1.2vmax;
      font-weight: 600;
    }
  }
}

.left-nav {
  display: none;

  @include desktop {
    width: 2.5vmax;
    height: 2.5vmax;
    @include flex-center;
    border-radius: 50%;
    background-color: rgb(54, 54, 54);
  }
}

.page1 {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 20vw;

  @include desktop {
    padding-bottom: 0;
  }

  &-p1 {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    justify-content: space-between;
    padding-top: 20vw;

    @include desktop {
      flex-direction: row;
      height: 60vh;
      padding-top: 0;
    }
  }

  &-p2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2%;
    justify-content: space-between;

    @include desktop {
      flex-direction: row;
    }

    h5 {
      display: none;

      @include desktop {
        display: block;
        color: $primary;
        font-size: 2vw;
        font-weight: 500;
      }
    }
  }
}

.heading {
  h1 {
    color: $white;
    margin-top: 6vw;
    font-size: 15vw;
    margin-left: 6vw;
    opacity: 0.8;
    text-transform: uppercase;
    position: relative;

    &::before {
      content: "SOFTWARE";
      position: absolute;
      top: -4px;
      left: -4px;
      z-index: -1;
      -webkit-text-stroke: 1.5px $primary;
      color: $black;
    }

    @include desktop {
      font-size: 7vw;
    }
  }

  h2 {
    background-color: $white;
    color: $primary;
    font-size: 15vw;
    text-transform: uppercase;
    margin-top: 5vw;
    margin-left: 12vw;
    width: fit-content;
    opacity: 0.8;
    position: relative;

    @include desktop {
      font-size: 7vw;
      margin-top: 0;
      margin-left: 25vw;
      width: auto;
    }
  }

  h3 {
    display: block;
    margin-top: 10vw;
    align-self: center;
    text-align: center;
    font-size: 4vw;
    font-weight: 100;

    @include desktop {
      display: none;
    }
  }
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 100%;
  left: calc(50vw - 68px);
  margin-top: 15%;
  align-self: center;
  width: fit-content;
  height: fit-content;
  background-color: $purple-dark;
  padding: 12px 30px;
  border-radius: 10px;

  @include desktop {
    flex-direction: column;
    right: 0;
    left: auto;
    top: 60%;
    margin-top: 0;
    padding: 20px 12px;
    border-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  i {
    font-size: 2.5vmax;
    cursor: pointer;
  }
}

.left-pg1-p2 {
  height: 30vh;
  width: fit-content;
  padding: 1% 2%;
  @include flex-center;

  a {
    font-size: 4vw;
    border-bottom: 1px solid $primary;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;

    &:hover i {
      scale: 1.2;
    }

    @include desktop {
      font-size: 1vmax;
    }
  }

  i {
    font-size: clamp(1rem, 1.2vw, 1.2rem);
    transition: all ease 0.3s;
  }

  @include desktop {
    height: 20%;
  }
}

.right-pg1-p2 {
  display: flex;
  height: 10vmax;
  width: 10vmax;
  padding: 1% 10%;
  @include flex-center;
  position: relative;
  margin-bottom: 20%;

  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: $purple-light;
    filter: blur(50px);
    z-index: 0;
  }

  img {
    height: 10vmax;
    position: relative;
    z-index: 1;
  }

  @include desktop {
    margin-bottom: 0;

    &::before {
      filter: blur(80px);
    }
  }
}

.blur-section {
  position: relative;
  @include blur-box;
  padding: 30px 3%;
  margin: 30px auto;
  max-width: 90%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  color: $white;

  @include desktop {
    padding: 50px 5%;
    margin: 50px auto;
    max-width: 85%;
  }
}

.about {
  background-color: rgba(255, 255, 255, 0.158);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2vw;

  h2 {
    margin-bottom: 2vw;
    border-bottom: 2px solid black;
    border-radius: 10px;
    padding: 0 1.5vw;
  }

  p {
    align-self: center;
    text-align: justify;
    padding: 0 2vw;
    line-height: 5vw;
    font-size: 3.2vw;

    @include tablet {
      font-size: 2vw;
      line-height: 3.5vw;
      padding: 0 5vw;
    }

    @include desktop {
      font-size: 1.2vw;
      line-height: 2vw;
      padding: 0 8vw;
    }
  }
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 20px;

  @include tablet {
    flex-direction: row;
    justify-content: center;
  }
}

.btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background: $purple-mid;
  color: $white;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s ease-in-out;

  &:hover {
    background: $purple-hover;
  }

  img {
    width: 24px;
    height: 24px;
    -webkit-user-drag: none;
  }
}

.projects-container {
  overflow-x: auto;
  padding: 1rem;
  scrollbar-width: none;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  height: 30rem;

  @include desktop {
    padding: 2rem;
    height: auto;
  }
}

.projects-wrapper {
  display: flex;
  gap: 5%;
  cursor: grab;
  user-select: none;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  width: max-content;
  padding-bottom: 1rem;

  &::-webkit-scrollbar {
    display: none;
  }

  &:active {
    cursor: grabbing;
  }

  @include desktop {
    gap: 2%;
  }
}

.project {
  width: 50%;
  min-width: 250px;
  height: 80%;
  flex-shrink: 0;
  background: rgba(255, 255, 255, 0.9);
  padding: 2%;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  color: rgb(129, 47, 184);
  display: flex;
  flex-direction: column;
  align-items: center;

  @include desktop {
    width: 40%;
    height: 30vw;
  }
}

.project-img {
  margin-top: 2rem;
  width: auto;
  height: 100%;
  max-height: 150px;
  object-fit: cover;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  -webkit-user-drag: none;

  @include desktop {
    margin-top: 0;
    width: 100%;
    height: auto;
    max-width: 90%;
    max-height: none;
  }
}

.project-text {
  width: 90%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  text-align: center;
  user-select: none;

  h3 {
    font-size: 4vw;
    font-weight: bold;
    margin-bottom: 0.5rem;

    @include tablet {
      font-size: 2.5vw;
    }

    @include desktop {
      font-size: 1.3vw;
    }
  }

  p {
    font-size: 3vw;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: justify;

    @include tablet {
      font-size: 2vw;
    }

    @include desktop {
      font-size: 1vw;
    }
  }

  img {
    margin-left: 0.8rem;
    width: 1.2rem;
    -webkit-user-drag: none;

    @include desktop {
      width: 2.5rem;
    }
  }

  @include desktop {
    width: 100%;
    flex: none;
    margin-top: 12%;
    height: auto;
  }
}

.pHeading,
.pDesc {
  color: #111111de;
}

.certs-container {
  overflow: hidden;
  padding: 20px;
}

.certs-wrapper {
  display: flex;
  white-space: nowrap;
  transition: transform 0.5s ease;
}

.cert {
  width: 80%;
  height: 18em;
  flex-shrink: 0;
  background: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-right: 10px;

  @include desktop {
    width: 30%;
    margin-right: 15px;
  }
}

#contact {
  @include blur-box(rgba(255, 255, 255, 0.4));
  color: $white;
  padding: 20px;
  text-align: center;

  form {
    max-width: 500px;
    margin: auto;
  }

  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
  }

  button {
    background: $white;
    color: #4b0082;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      background: #ddd;
    }
  }
}
